{% spaceless %}
<footer>
    <a href="{{ url_guidelines|escape('html_attr') }}" class="muted">Guidelines</a> | <a href="{{ url_contact|escape('html_attr') }}" class="muted">Contact</a>
</footer>
{% endspaceless %}