{% spaceless %}
<!DOCTYPE html>
<html lang="en"{% if htmlclass is defined and htmlclass %} class="{{ htmlclass|escape("html_attr") }}"{% endif %}>
<head>
<meta charset="UTF-8" />
<meta name="referrer" content="origin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hacker Videos</title>
<link rel="stylesheet" href="/assets/style.css" />
</head>
<body>{% block body %}{% endblock %}</body>
</html>
{% endspaceless %}
