{% extends '::layouts/standard.html.twig' %}
{% block main %}{% spaceless %}
<h2>Contact</h2>

<p>Email : <a href="mailto:contact@netgusto.com">contact@netgusto.com</a></p>
<p>Twitter: <a href="https://twitter.com/netgusto">@netgusto</a></p>

{% endspaceless %}{% endblock %}
