{% extends '::layouts/standard.html.twig' %}
{% block main %}{% spaceless %}
<h2>Guidelines</h2>

<p>Like Hacker News [1] but for videos.</p>
<p>So please, post only urls to deeply interesting videos.</p>

<p>[1]: <a href="https://news.ycombinator.com/newsguidelines.html">HN guidelines</a>

{% endspaceless %}{% endblock %}
